@font-face {
  font-family: vazir;
  src: url(./font/Vazir-Medium.eot) format(eot);
  src: url(./font/Vazir-Medium.ttf) format(ttf);   
  src: url(./font/Vazir-Medium.woff) format(woff);
  src: url(./font/Vazir-Medium.woff2) format(woff2);
}
body{
  font-family: vazir;
 
 
}
button{
  z-index: 10;
}
.bord{
  position: absolute;
  width: 100%;
  height: 14rem;
  border-radius: 1rem;
  right: 0;
  top: 9.5rem;
}
.logo-navbar{
  position: absolute;
  width: 100%;
  top: -2px;
  left: 0;
  opacity: 100%;
  }
  #meno-navbar{
          position: absolute;
          width: 4rem;
          right: 4px;
          top: 21px;
          height: 44px;
  }
.bace-meno{
  position: absolute;
  width: 100%;
  height: 3rem;
  left: 0;
  top: 1rem;
  }
.meno-1{
  position: absolute;
  font-size: 15px;
  top: 4rem;
  right: 2rem;
}
.meno-2{
  position: absolute;
  font-size: 15px;
  top: 4rem;
  right: 8rem;
}
.meno-3{
  position: absolute;
  font-size: 15px;
  top: 4rem;
  right: 14rem;
}
.meno-4{
  position: absolute;
  font-size: 15px;
  top: 4rem;
  right: 19rem;
}
.meno-5{
  position: absolute;
  font-size: 15px;
  top: 4rem;
  left: 2rem;
}
  .name-navbar{
     
width: 28rem;
     
display: flex;
     
position: absolute;
     
right: 8px;
     
top: 6px;
  }
  .name-navbar li{
      margin: 16px;
      position:relative;
      align-items:center;
      top:3.1rem;
      font-size: 13px;
  }
 .zir-matn{
  position: absolute;
  width: 6rem;
  height: 3px;
  background: #7f47dd;
  border-radius: 1rem;
  top: 8rem;
  right: 11.8rem;
  transition: 0.3s;
 }
 .name-navbar li:hover{
  color: #6483ed;
 }
 .name-aee{
  position: absolute;
  color: white;
  top: 10rem;
  direction: rtl;
  font-weight: 300;
  right: 2rem;
  font-size: 18px;
 }
 .aee{
    position: absolute;
    color: white;
    top: 12.5rem;
    direction: rtl;
right: 7rem;
    font-size: 18px;
    width: 18rem;
    text-wrap-style: balance;
 }
 .mani-aee{
    position: absolute;
    color: white;
    top: 17.5rem;
    direction: rtl;
    font-weight: 300;
    right: 5rem;
    font-size: 13px;
    width: 21rem;
    text-wrap-style: balance;
    }
    .taqvim{
      position: absolute;
      top: 30rem;
      width: 491px;
      height: 75rem;
      right: -13px;
      border: transparent;
    }

    .pad{
    position: absolute;
    width: 100%;
    top: 31rem;
    left: -8px;
    }
    .ketab{
      width: 97%;
      position: absolute;
      top: 46rem;
      border-radius: -24px;
      right: 0px;
      z-index: 1;
    }
    .kharid{
    position: absolute;
    width: 100%;
    top: 46rem;
    left: -8px;
    }
    .soal{
          position: absolute;
          width: 100%;
          top: 31rem;
          border-radius: 12px;
          right: 0;
          filter: grayscale(1) blur(4px);
    }
    .bace-tozi{
      position: absolute;
      top: 25rem;
      font-size: 25px;
      direction: rtl;
      font-weight: 500;
      right: 9rem;
    }
    .soa-1{
  position: absolute;
  top: 63rem;
  right: 9rem;
  }
    .soa-2{
          position: absolute;
      top: 67rem;
      font-size: 16px;
      direction: rtl;
      width: 451px;
      right: 2rem;


    }      
    .bace-soal{
      position: absolute;
      top: -1rem;
      width: 100vw;
      height: 1rem;
      left: 0;
    }
    .buten-soa{

position: absolute;

top: 81.5rem;

right: 11rem;

width: 8.5rem;

background: #7f47dd;

height: 36px;

border-radius: 9px;

text-align: center;

color: #ffffff;

font-size: 18px;

direction:rtl;

font-family: 'vazir';
}
.padcast{
  
position: absolute;
  
top: 86rem;
  
font-size: 23px;
  
right: 2rem;
}
.padcast-1{

position: absolute;

top: 92rem;

width: 28rem;

background: #7f47dd;

height: 4rem;

right: 1.5rem;

border-radius: 1rem;
}
.akhlaq-matn{

position: absolute;

top: 92.5rem;

right: 13rem;

color: white;

font-size: 14px;
}
.play-1{
  
position: absolute;
  
top: 93.3rem;
  
color: white;
  
left: 3rem;
  
font-size: 12px;
}
.akhlaq-pic{
  
position: absolute;
  
top: 92.3rem;
  
width: 3.5rem;
  
border-radius: 3rem;
  
right: 2rem;
}
.padcast-2{position: absolute;top: 99rem;width: 28rem;background: #7f47dd;height: 4rem;right: 1.5rem;border-radius: 1rem;}
.panah-matn{

position: absolute;

top: 99.5rem;

right: 12rem;

color: white;

font-size: 14px;

}
  .play-2{
        position: absolute;
        top: 100.3rem;
        color: white;
        font-size: 12px;
        left: 3rem;
  }
  .panah-pic{
    
position: absolute;
    
top: 99.3rem;
    
width: 3.5rem;
    
border-radius: 3rem;
    
right: 2rem;
  }
.padcast-3{position: absolute;top: 106rem;width: 28rem;background: #7f47dd;height: 4rem;right: 1.5rem;border-radius: 1rem;}
.shokr-matn{

  position: absolute;
  
  top: 106.5rem;
  
  right: 14rem;
  
  color: white;
  
  font-size: 14px;
  
  }
    .play-3{
          position: absolute;
          top: 107.3rem;
          color: white;
          font-size: 12px;
          left: 3rem;
}
    
    .shokr-pic{
      
  position: absolute;
      
  top: 106.3rem;
      
  width: 3.5rem;
      
  border-radius: 3rem;
      
  right: 2rem;
    }
    .cover-soal{}


.soal-1{position:absolute;top: 61rem;width: 99%;left: 3px;}

.pad1{
  position: absolute;
    top: 91rem;
    width: 100%;
    left: 0;
}
.pad2{
  position: absolute;
    top: 98rem;
    width: 100%;
    left: 0;
}
.pad3{
  position: absolute;
    top: 105rem;
    width: 100%;
    left: 0;
  z-index:10;
}
.bace-meno  h3:hover{
  color: #6483ed;
}
/* .emal{
  position: absolute;
  width: 100%;
  left: -53px;
  top: 113rem;
}
.emal-matn{
  position: absolute;
  top: 111rem;
  font-size: 16px;
  right: 12rem;
} */
.foter{
  position: absolute;
  width: 100%;
  top: 119rem;
  left: 0;
}
.emal{

position: absolute;

right: 35px;

width: 21rem;

height: 2.6rem;
border-radius:10px;
top: 11px;

background: #808080;

border: 0;
}

.but-emal{

position: absolute;

width: 5rem;

left: 16px;

top: 9px;

height: 3rem;

border-radius: 1rem;
font-family: vazir;
}
.bace-emal{
  
position: absolute;
  
top: 137rem;
  
width: 100%;
  
height: 3rem;
  
z-index: 1;
  
left: 0;
}
.foter-meno{
  
position: absolute;
  
top: 127rem;
  
z-index: 1;
  
direction: rtl;
  
color: white;
  
right: 1rem;
  
font-size: 18px;
}
.foter-meno1{
  
position: absolute;
  
top: 127rem;
  
z-index: 1;
  
direction: rtl;
  
color: white;
  
right: 10rem;
  
font-size: 18px;
  }
  .foter-titel{
    position: absolute;
    top: 123rem;
    z-index: 1;
    color: #ffffff;
    right: 10rem;
}
  .nemad{
    position: absolute;
    top: 127rem;
    z-index: 1;
    width: 9rem;
    border-radius: 1rem;
    left: 21px;
    filter: grayscale(1);
  }
  .soal-titel{
    
position: absolute;
    
top: 34rem;
    
right: 68px;
    
color: #6b00ff;
    
font-weight: bold;
    
font-size: 30px;
  }
  .bace-ketab{
    position: absolute;
    width: 100%;
    height: 28rem;
    top: 117rem;
    overflow: scroll;
    display: flex;
    left: 0;
    direction:rtl;
}
  .bace-ketab img{
  position:relative;
    top:-68px;
    margin:70px 10px;
    border:solid 2.5PX #7f47dd;
    border-radius:15PX;
  }  
  .bace-ketab h4{
    position:relative;
      bottom:9rem;
      margin:10px -10px;
    right:rem;
    text-align:center;
    font-weight:400;
    font-size:14PX;
    }
    .bace-ketab h5{
      position:relative;
      bottom:7rem;
      margin:10px -10px;
      right: 0rem;
      text-align:center;
      font-weight:400;
      font-size:12PX;
      }
      .bace-ketab h6{
        position:relative;
          bottom:8.6rem;
          margin:10px -10px;
        left:3.5rem;
        text-align:center;
        font-weight:400;
        font-size:11PX;
        }
.ketab-titel{
      position: absolute;
    top: 113rem;
    font-size: 23px;
    right: 2rem;
}











/*========================== <padcast page>========================== */
















.bace-pad{
  position: absolute;
  width: 100%;
  height: 133rem;
  background: #dfdfdf;
  left: 0;
  top: 9rem;
}
.p2010{
  position: absolute;
  width: 85%;
  border-radius: 12px;
  right: 2.25rem;
  top: 12rem;
  height: 13rem;
  background: #d7d7d7;
}

.p2010 img{
  position: absolute;
  right: 1rem;
  top: 26px;
  border-radius: 13px;
  width: 7rem;
  border: 2.5px solid #6600ff;
  height: 7rem;
}
.p2010 h2{
  position: absolute;
  font-size: 18px;
  width: 17rem;
  direction: rtl;
  top: 2rem;
}
.p2010 h3{
  position: absolute;
  top: 9.8rem;
  right: 1rem;
  font-size: 14px;
}
.p2010 button{
  position: absolute;
  top: 10rem;
  width: 117px;
  height: 2.3rem;
  border: 0px;
  background: #673AB7;
  color: white;
  font-family: 'vazir';
  border-radius: 9px;
  left: 14px;
}

.p2011{
  position: absolute;
  width: 85%;
  border-radius: 12px;
  right: 2.25rem;
  top: 27rem;
  height: 13rem;
  background: #d7d7d7;
}

.p2011 img{
  position: absolute;
  right: 1rem;
  top: 26px;
  border-radius: 13px;
  width: 7rem;
  border: 2.5px solid #6600ff;
  height: 7rem;
}


.p2011 h2{
  position: absolute;
  font-size: 18px;
  width: 17rem;
  direction: rtl;
  top: 2rem;
}
.p2011 h3{
  position: absolute;
  top: 9.8rem;
  right: 1rem;
  font-size: 14px;
}
.p2011 button{
  position: absolute;
  top: 10rem;
  width: 117px;
  height: 2.3rem;
  border: 0px;
  background: #673AB7;
  color: white;
  font-family: 'vazir';
  border-radius: 9px;
  left: 14px;
}

.p2012{
  position: absolute;
  width: 85%;
  border-radius: 12px;
  right: 2.25rem;
  top: 55rem;
  height: 13rem;
  background: #d7d7d7;
}

.p2012 img{
  position: absolute;
  right: 1rem;
  top: 26px;
  border-radius: 13px;
  width: 7rem;
  border: 2.5px solid #6600ff;
  height: 7rem;
}
.p2012 h2{
  position: absolute;
  font-size: 18px;
  width: 17rem;
  direction: rtl;
  top: 2rem;
}
.p2012 h3{
  position: absolute;
  top: 9.8rem;
  right: 1rem;
  font-size: 14px;
}
.p2012 button{
  position: absolute;
  top: 10rem;
  width: 117px;
  height: 2.3rem;
  border: 0px;
  background: #673AB7;
  color: white;
  font-family: 'vazir';
  border-radius: 9px;
  left: 14px;
}
.p2014{
  position: absolute;
  width: 85%;
  border-radius: 12px;
  right: 2.25rem;
  top: 70rem;
  height: 13rem;
  background: #d7d7d7;
}

.p2014 img{
  position: absolute;
  right: 1rem;
  top: 26px;
  border-radius: 13px;
  width: 7rem;
  border: 2.5px solid #6600ff;
  height: 7rem;
}
.p2014 h2{
  position: absolute;
  font-size: 18px;
  width: 17rem;
  direction: rtl;
  top: 2rem;
}
.p2014 h3{
  position: absolute;
  top: 9.8rem;
  right: 1rem;
  font-size: 14px;
}
.p2014 button{
  position: absolute;
  top: 10rem;
  width: 117px;
  height: 2.3rem;
  border: 0px;
  background: #673AB7;
  color: white;
  font-family: 'vazir';
  border-radius: 9px;
  left: 14px;
}

.p2015{
  position: absolute;
  width: 85%;
  border-radius: 12px;
  right: 2.25rem;
  top: 85rem;
  height: 13rem;
  background: #d7d7d7;
}

.p2015 img{
  position: absolute;
  right: 1rem;
  top: 26px;
  border-radius: 13px;
  width: 7rem;
  border: 2.5px solid #6600ff;
  height: 7rem;
}
.p2015 h2{
  position: absolute;
  font-size: 18px;
  width: 17rem;
  direction: rtl;
  top: 2rem;
}
.p2015 h3{
  position: absolute;
  top: 9.8rem;
  right: 1rem;
  font-size: 14px;
}
.p2015 button{
  position: absolute;
  top: 10rem;
  width: 117px;
  height: 2.3rem;
  border: 0px;
  background: #673AB7;
  color: white;
  font-family: 'vazir';
  border-radius: 9px;
  left: 14px;
}


.p2016{
  position: absolute;
  width: 85%;
  border-radius: 12px;
  right: 2.25rem;
  top: 85rem;
  height: 13rem;
  background: #d7d7d7;
}

.p2016 img{
  position: absolute;
  right: 1rem;
  top: 26px;
  border-radius: 13px;
  width: 7rem;
  border: 2.5px solid #6600ff;
  height: 7rem;
}
.p2016 h2{
  position: absolute;
  font-size: 18px;
  width: 17rem;
  direction: rtl;
  top: 2rem;
}
.p2016 h3{
  position: absolute;
  top: 9.8rem;
  right: 1rem;
  font-size: 14px;
}
.p2016 button{
  position: absolute;
  top: 10rem;
  width: 117px;
  height: 2.3rem;
  border: 0px;
  background: #673AB7;
  color: white;
  font-family: 'vazir';
  border-radius: 9px;
  left: 14px;
}
.p2018{
  position: absolute;
  width: 85%;
  border-radius: 12px;
  right: 2.25rem;
  top: 114rem;
  height: 13rem;
  background: #d7d7d7;
}

.p2018 img{
  position: absolute;
  right: 1rem;
  top: 26px;
  border-radius: 13px;
  width: 7rem;
  border: 2.5px solid #6600ff;
  height: 7rem;
}
.p2018 h2{
  position: absolute;
  font-size: 18px;
  width: 17rem;
  direction: rtl;
  top: 2rem;
}
.p2018 h3{
  position: absolute;
  top: 9.8rem;
  right: 1rem;
  font-size: 14px;
}
.p2018 button{
  position: absolute;
  top: 10rem;
  width: 117px;
  height: 2.3rem;
  border: 0px;
  background: #673AB7;
  color: white;
  font-family: 'vazir';
  border-radius: 9px;
  left: 14px;
}
/* <________________padcast-main-page________________> */
.a2015{
  position: absolute;
  width: 95%;
  border-radius: 12px;
  right: 12px;
  top: 2rem;
  height: 51rem;
  background: #d7d7d7;
}

.a2015 img{
  position: absolute;
  right: 1.5rem;
  top: 26px;
  border-radius: 13px;
  width: 12rem;
  border: 2.5px solid #6600ff;
  height: 12rem;
}
.a2015 h2{
  position: absolute;
  font-size: 15px;
  width: 15rem;
  direction: rtl;
  top: 2rem;
  right: 15rem;
  direction: rtl;
}
.a2015 h3{
  position: absolute;
  top: 10.8rem;
  right: 15rem;
  font-size: 14px;
}
.a2015 h4{
  position: absolute;
  top: 30rem;
  width: 26rem;
  right: 30px;
  direction: rtl;
  font-size: 15px;
  text-align: center;
}
.pad-sond{
  position: absolute;
  width: 28rem;
  height: 4rem;
  background: #aeaeae;
  bottom: 1rem;
  text-align: center;
  right: 8px;
  border-radius: 36px;
}
audio{
  position: relative;
  top: 4px;
}audio::-webkit-media-controls-panel {
  background-color: #aeaeae;
border: transparent;
}

.bace-tozih{
  position: absolute;
  width: 20rem;
  height: 12rem;
  top: 18rem;
  right: 5.5rem;
  border: black 1px solid;
  border-radius: 15px;
  display: flow;
  direction: rtl;
  font-size: 10px;}

  .bace-tozih h3{
    position:relative;
    right: -5px;
    top: rem;
    font-size: 13px;
    text-align: center;
  }
  .slider-1{position: absolute;width: 26.5rem;top: 41rem;right: 2rem;}
    
  .mini3010{
    position: absolute;
    top: 100rem;
    left: 2.4rem;
    border-radius: 14px;
    width: 12rem;
  border: #6600ff solid 0.5px;
}  
.mini3020{
  position: absolute;
  top: 100rem;
  right: 2.4rem;
  border-radius: 14px;
  width: 12rem;
  border: #6600ff solid 0.5px ;

}  
.bace-info{
  position: absolute;
  width: 90%;
  height: 10rem;
  background: #dbdbdb;
  border-radius: 1rem;
  right: 1.5rem;
  top: 9rem;
}

.my-name{
  position: absolute;
  top: 9rem;
  right: 39px;
  font-size: 18px;
}
.my-tozi{
  position: absolute;
  width: 25rem;
  text-align: center;
  font-size: 13px;
  top: 11rem;
  right: 3rem;
}
.bace-ejmali{
  position: absolute;
  width: 90%;
  height: 10rem;
  background: #dbdbdb;
  border-radius: 1rem;
  right: 1.5rem;
  top: 20rem;
}

.my-app{
  position: absolute;
  top: 20rem;
  right: 39px;
  font-size: 18px;
}
.tozi-app{
  position: absolute;
  width: 25rem;
  text-align: center;
  font-size: 11px;
  top: 22rem;
  right: 3rem;
}
.bace-manba{
  position: absolute;
  width: 90%;
  height: 10rem;
  background: #dbdbdb;
  border-radius: 1rem;
  right: 1.5rem;
  top: 31rem;
}

.my-manba{
  position: absolute;
  top: 32rem;
  right: 39px;
  font-size: 18px;
}
.manba{
  position: absolute;
  width: 25rem;
  text-align: center;
  font-size: 11px;
  top: 36rem;
  right: 3rem;
}
.bace-slider{
  position: absolute;
  width: 97%;
  height: 16rem;
  display: flex;
  overflow: scroll;
  scroll-behavior:smooth;
  top: 8rem;
  right: 20px;
}
.bace-slider img{
  width: 100%;
}
.title-nevisand{
  position: absolute;
  right: 2rem;
  font-family: vazir;
  font-size: 18px;
  top: 27rem;
}
.namaz{
  position: absolute;
  width: 28rem;
  right: 20px;
  top: 45rem;
}
.pic-book{
  position: absolute;
  width: 7rem;
  top: 1.4rem;
  border: 3px solid #9C27B0;
  border-radius: 1rem;
  right: 1pc;
}

.title-book{
    position: absolute;
    font-size: 19px;
    top: 3px;
    right: 191px;
}
.tozih-book{
    position: absolute;
    width: 19rem;
    font-size: 16px;
    border: 1px solid;
    top: 12rem;
    padding: 60px;
    right: 34px;
    border-radius: 23px;
    text-align: center;}


    .bace-book{
      position: absolute;
      width: 9rem;
      height: 1.7rem;
      font-size: 8px;
      border: 1px solid;
      padding: 1px 98px 96px 36px;
      top: 4rem;
      right: 11rem;
      border-radius: 1rem;
      direction: rtl;
    }
    .bace-book h3{
      position: relative;
      right: -5rem;
      top: 23px;
    } 
   
      .daryaft{
      position: absolute;
      width: 8rem;
      font-family: 'vazir';
      background: #9c27b0;
      color: white;
      border: 0;
      border-radius: 14px;
      height: 6rem;
      top: 5rem;
      right: 19.5rem;
    }

::-webkit-scrollbar{
  background-color: transparent;
}

.slider1{
  width: 89%;
  right: 1.5rem;
  position: absolute;
  top: 166rem;
  transition: 1s;
}
.slider2{
  width: 89%;
  right: 1.5rem;
  position: absolute;
  top: 9rem;
  transition: 1s;
}
.slider3{
  width: 89%;
  right: 1.5rem;
  position: absolute;
  top: 119rem;
  height: 18rem;
  transition: 1s;
}
